@page
@model WebApplication1.Pages.GoodsModel
@{
}
<link rel="stylesheet" href="~/css/carTable.css" asp-append-version="true" />

<div class="text-center">
    @if (Model.Response != null)
    {
        <text>
            <div class="@Model.Response.ResultType.ToString()">
                @Model.Response.Message
            </div>
        </text>
    }
    <form method="post">
        @* <div asp-validation-summary="All"></div> *@
        <div>

            <div>
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name">
                <span asp-validation-for="Input.Name"></span>
            </div>
            <div>
                <label asp-for="Input.Age"></label>
                <input type="number" asp-for="Input.Age">
                <span asp-validation-for="Input.Age"></span>
            </div>
            <div>
                <label asp-for="Input.Email"></label>
                <input type="email" asp-for="Input.Email">
                <span asp-validation-for="Input.Email"></span>
                <span class="loader"></span>
                <br>
            </div>
            <div>

                <label asp-for="Input.Password"></label>
                <input type="password" asp-for="Input.Password">
                <span asp-validation-for="Input.Password"></span>
                <br>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword"></label>
                <input type="password" asp-for="Input.ConfirmPassword">
                <span asp-validation-for="Input.ConfirmPassword"></span>
                <br>
            </div>
            <div>
                <input asp-for="Input.Id" />
            </div>
            <div>
                <input type="submit" value="Login!">

            </div>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}