@page
@model BootCampWeb.Pages.GoodsModel
@{
}
<link rel="stylesheet" href="~/css/carTable.css" asp-append-version="true" />

<div class="text-center">
    @if (Model.Response != null)
    {
        <text>
            <div class="@Model.Response.ResultType.ToString()">
                @Model.Response.Message
            </div>
        </text>
    }
    <form method="post">
        @* <div asp-validation-summary="All"></div> *@
        <div>

            <div>
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name">
                <span asp-validation-for="Input.Name"></span>
            </div>
            <div>
                <label asp-for="Input.Age"></label>
                <input type="number" asp-for="Input.Age">
                <span asp-validation-for="Input.Age"></span>
            </div>
            <div>
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" id="author-email-id" oninput="ChangeEmail(event)" />
                <span class="loader" id="email-loader"></span>
                <span class="d-none field-validation-error" id="email-loader-error">This email is used</span>
                <span asp-validation-for="Input.Email"></span>
            </div>
            <div>

                <label asp-for="Input.Password"></label>
                <input type="password" asp-for="Input.Password">
                <span asp-validation-for="Input.Password"></span>
                <br>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword"></label>
                <input type="password" asp-for="Input.ConfirmPassword">
                <span asp-validation-for="Input.ConfirmPassword"></span>
                <br>
            </div>
            <div>
                <input asp-for="Input.Id" />
            </div>
            <div>
                <input type="submit" value="Login!">

            </div>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">

        function ChangeEmail(e) {
            e.preventDefault();

            if (e.target.value.length > 4 && e.target.checkValidity()) {
                console.log(e.target.value)

                let token = document.querySelector('input[name="__RequestVerificationToken"]').getAttribute("value");
                let loader = document.getElementById('email-loader');
                let messeges = document.getElementById('email-loader-error');

                loader.classList.remove('d-none');
                messeges.classList.add('d-none');

                let data = toFormData({
                    'email': e.target.value,
                    '__RequestVerificationToken': token
                });

                fetch("?handler=CheckEmail", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                    },
                    body: data
                }).then((response) => {

                    loader.classList.add('d-none');
                    return response.json();

                }).then((data) => {

                    if (data) {
                        messeges.classList.remove('d-none');
                    }
                    console.log(data);
                });
            }
        }

        function toFormData(details) {
            var formBody = [];
            for (var property in details) {
                var encodedKey = encodeURIComponent(property);
                var encodedValue = encodeURIComponent(details[property]);
                formBody.push(encodedKey + "=" + encodedValue);
            }
            formBody = formBody.join("&");
            return formBody;
        }

    </script>
}