html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-summary-errors {
    color: red;
}

.field-validation-error {
    color: red;
    display: flex;
    justify-content: flex-end;
}
.success{
    color:seagreen;
}

.fail {
    color: red;
}

/*.center {
    display: flex;
    align-items: center;
    margin-left: 66%;
}*/
.label-form {
    color: #B4886B;
    font-weight: bold;
    width: 130px;
    float: left;
}

    .label-form:after {
        content: ": "
    }
.button-input {
    padding: 10px;
    border: 1px solid gray;
    background-color: #B4886B;
    border-radius: 5px;
    font: inherit;
}