body {
}

.table-car {
    background: #FACBEA;
    width: 100%;
}

td, th {
    border: 1px dotted black;
}

table tr:nth-child(2n) {
    background-color: #FFE4D6 !important;
}

.car-table-main {
    margin-left: auto;
    margin-right: auto;
    height: 75vh;
}

img.resize {
    width: 20px;
    height: 20px;
}

.user-name-modal {
    text-decoration: underline;
    cursor: pointer;
    color:blueviolet;
}
    .user-name-modal:hover{
        color: black;
    }